/* :root {
  --text-color-light: #ffffff;
  --bg-color-article: #2c2e50;
  --bg-color-navbar: #333963;
  --bg-color: #252747;
} */

:root {
  --text-color-light: #e9e7e7;
  --bg-color-article: #2c2e50;
  --bg-color-navbar: #333963;
  --bg-color: #282a46;
  --text-url-color: #3498db;
  --bg-color-og: #252740;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: #252740; */
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.container {
  background: var(--bg-color);
  margin-top: 2rem;
  max-width: 400px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 4rem;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid var(--text-color-light);
  margin-bottom: 20px;
  color: #c9c9c9;
}
.head h2 span {
  color: var(--text-color-light);
}
.search-bar {
  width: calc(100% - 2rem);
  padding: 0 1rem;
  margin: 0 auto 1rem auto;
}
.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px !important;
  background-color: var(--bg-color);
  outline: none;
  border: 2px solid var(--bg-color-article);
  box-sizing: border-box;
  color: var(--text-color-light);
}
::placeholder {
  color: var(--text-color-light);
}

.categories {
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.categories-list {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}
.category {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  background-color: #a39b9b;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}
.category.active {
  background-color: var(--bg-color-article);
  color: var(--text-color-light);
}
.category.active:hover {
  color: #000000;
}
.category:hover {
  background-color: #ddd;
}
.articles {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.article {
  background-color: var(--bg-color-article);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.article img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}
.article-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.source {
  font-size: 0.8rem;
  color: #aaa;
}
.title {
  margin: 0.2rem 0;
  font-size: 1rem;
}
.title a {
  text-decoration: none;
  color: var(--text-color-light);
}
.title a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.date {
  font-size: 0.8rem;
  color: #aaa;
}
.article-actions {
  display: none;
  position: absolute;
  top: -5px;
  right: -10px;
  background: var(--bg-color-article);
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-direction: row;
}
.article-actions.show {
  display: flex;
}
.article-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color-light);
  transition: color 0.3s ease;
  margin-right: 0.5rem;
}
.article-actions button a {
  text-decoration: none;
  color: var(--text-color-light);
}
.article-actions button:last-child {
  margin-right: 0;
}
.article-actions button:hover {
  color: #666;
}
.toggle-actions {
  position: absolute;
  top: 5px;
  right: 0px;
  margin-right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--text-color-light);
  transition: color 0.3s ease;
}
.toggle-actions:hover {
  color: #666;
}
.bottom-nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-nav {
  border-top: 1px solid var(--bg-color-article);
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
  background-color: var(--bg-color-navbar);
  width: 400px;
  z-index: 10;
  padding: 0.5rem 0;
}
.nav-item {
  cursor: pointer;
  font-size: 1.5rem;
  background: none;
  margin: 0 2.02rem;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.nav-item a {
  text-decoration: none;
  cursor: pointer;
  color: #c9c9c9;
}
.nav-item a:hover {
  color: #666;
}
@media (max-width: 600px) {
  .search-bar input {
    padding: 0.4rem;
    border-radius: 15px;
  }
}
@media (max-width: 400px) {
  .search-bar input {
    padding: 0.3rem;
    border-radius: 10px;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color-article);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-navbar);
  border-radius: 10px;
}

.profile-section {
  overflow: hidden;
  padding: 1rem;
}
.header {
  padding: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: -40px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 4px solid var(--bg-color);
}
.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.info {
  text-align: left;
  margin-bottom: 1rem;
}
.info h2 {
  margin: 10px 0 5px;
  font-size: 20px;
}
.info p {
  margin: 5px 0;
  color: #c9c9c9;
}
.info_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #c9c9c9;
}
.top-btns {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.top-btns a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  padding: 0 6px;
  height: 25px;
}

.top-btns a i {
  padding-right: 5px;
}

.follow-btn {
  background-color: var(--bg-color-og);
  color: #e0e0e0;
  border: 1px solid var(--bg-color-navbar);
}
.follow-btn a{
  text-decoration: none;
  color: white;
}

.message-btn {
  background-color: var(--bg-color-og);
  color: #e0e0e0;
  border: 1px solid var(--bg-color-navbar);
  /* background-color: var(--bg-color-og);
  color: #eeeeee; */
}
.message-btn a{
  text-decoration: none;
  color: white;
}

.setting-btn i {
  margin-left: 4px;
}

.setting-btn {
  background-color: var(--bg-color-og);
  color: #e0e0e0;
  border: 1px solid var(--bg-color-navbar);
}

.setting-btn a{
  text-decoration: none;
  color: white;
}


.follow-btn:hover,
.message-btn:hover,
.setting-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 400px) {
  .top-btns a {
    padding: 0 5px;
  }
}
.stats {
  margin-top: 10px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 10px;
}
.stats div {
  color: #c9c9c9;
  text-align: center;
}
.stats div h3 {
  margin: 0;
  font-size: 15px;
}
.stats div p {
  margin: 0;
}
.footer {
  text-align: left;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text i {
  margin-right: 10px;
  color: #3498db;
}

.icon-text a {
  color: var(--text-url-color);
  text-decoration: none;
  margin-left: -5px;
}

.icon-text p {
  margin: 0;
  color: #c9c9c9;
  margin-left: 4px;
}

.create-blog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--bg-color-article);
  color: var(--text-color-light);
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-blog-btn:hover {
  background-color: var(--bg-color-navbar);
}

.follow-btn.disabled,
.message-btn.disabled,
.setting-btn.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.no-article {
  background-color: var(--bg-color-article);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.no-article img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
  overflow: hidden;
}
.no-article h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.no-article p {
  margin: 5px 0;
  font-size: 0.8rem;
  color: #c9c9c9;
}

.create-blog-btn-profile {
  color: var(--text-url-color);
  border: none;
  border-radius: 5px;
  font-size: 0.9.rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-blog-btn-profile:hover {
  text-decoration: underline;
}

.message-card {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.message-card.success {
  background-color: #d4edda;
  color: #155724;
}

.message-card.error {
  background-color: #f8d7da;
  color: #721c24;
}
.cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: inherit;
  font-size: 20px;
  cursor: pointer;
}
.articles .show-more-btn {
  border: none;
  background-color: var(--bg-color-article);
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  float: right;
}
.articles .show-more-btn:hover {
  background-color: var(--bg-color-navbar);
}

.followers-following {
  text-align: center;

}

.followers-following button {
  border-radius: 5px;
  border: none;
  background: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: #c9c9c9;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(43, 40, 40, 0.4);
}

.modal-content {
  background-color: #252740;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 360px;
  border-radius: 10px;
}

.modal-content h3 {
  color: #2196F3;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.followers ul,
.following ul {
  list-style-type: none;
  padding: 0;
}

.followers ul li,
.following ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.followers ul li a,
.following ul li a {
  text-decoration: none;
  color: #c7c7c7;
}

.followers ul li a:hover,
.following ul li a:hover {
  color: #2196F3;
  text-decoration: underline;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
