<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/profile_edit.css}" />
  </head>
  <body>
    <div class="container">
      <div class="profile-section" th:unless="${error}">
        <div class="edit-form">
          <form
            class="register-form"
            th:action="@{/profile/edit}"
            th:object="${user}"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="header">
              <!-- Banner Image -->
              <img
                th:if="${user.userBannerBase64 != null}"
                th:src="'data:image/jpeg;base64,' + ${user.userBannerBase64}"
                alt="Banner"
              />
              <img
                th:unless="${user.userBannerBase64 != null}"
                th:src="@{/img/banner.jpg}"
                id="bannerImagePreview"
                alt="Banner"
              />
              <label for="bannerImageUpload" class="edit-banner-btn">
                <i class="fa-solid fa-camera"></i>
              </label>
              <input
                type="file"
                id="bannerImageUpload"
                accept="image/*"
                name="banner"
                style="display: none"
              />
            </div>
            <div class="profile-image">
              <!-- Profile Image -->
              <img
                th:if="${user.userAvatarBase64 != null}"
                th:src="'data:image/jpeg;base64,' + ${user.userAvatarBase64}"
                id="profileImagePreview"
                alt="Avatar"
              />
              <img
                th:unless="${user.userAvatarBase64 != null}"
                th:src="@{/img/avatar.jpg}"
                id="profileImagePreview"
                alt="Avatar"
              />
              <label for="profileImageUpload" class="edit-image-btn">
                <i class="fa-solid fa-camera"></i>
              </label>
              <input
                type="file"
                id="profileImageUpload"
                accept="image/*"
                name="avatar"
                style="display: none"
              />
            </div>

             <!-- hidden -->

              <input
                type="text"
                id="username"
                th:field="*{username}"
                hidden
                th:value="*{username}"
              />


              <input
                type="text"
                id="id"
                th:field="*{id}"
                hidden
                th:value="*{id}"
              />

               <input
                type="text"
                id="password"
                th:field="*{password}"
                hidden
                th:value="*{password}"
              />
 <input
                type="text"
                id="email"
                th:field="*{email}"
                hidden
                th:value="*{email}"
              />

            <!-- hidden  -->

            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                th:field="*{fullName}"
                th:value="*{fullName}"
                value="Manish Kumar"
              />
            </div>
            <div class="form-group">
              <label for="bio">Bio</label>
              <textarea id="bio" th:field="*{bio}">
Building Websites and Webapps with Seamless User Experience Across Devices.</textarea
              >
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input
                type="text"
                id="location"
                th:field="*{country}"
                th:value="*{country}"
                value="India"
              />
            </div>
            <div class="form-group">
              <label for="website">Website</label>
              <input
                type="url"
                id="website"
                th:field="*{url}"
                th:value="*{url}"
                value="https://google.com"
              />
            </div>
            <div class="btn-group">
              <a href="/home" class="cancel-btn">Back</a>
              <button type="submit" class="save-btn">Save Changes</button>
            </div>
          </form>

          <div class="error" th:if="${error}">
            <div class="alert alert-danger">
              <span th:text="${error}"></span
              ><i class="fa-solid fa-triangle-exclamation"></i>
            </div>
          </div>
          <div class="error" th:if="${message}">
            <div class="alert alert-success">
              <span th:text="${message}"></span
              ><i class="fa-regular fa-circle-check"></i>
            </div>
          </div>
  
        </div>
      </div>
    </div>

    <script>
      // JavaScript to handle image preview
      document
        .getElementById("profileImageUpload")
        .addEventListener("change", function (event) {
          const file = event.target.files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              document.getElementById("profileImagePreview").src =
                e.target.result;
            };
            reader.readAsDataURL(file);
          }
        });

      document
        .getElementById("bannerImageUpload")
        .addEventListener("change", function (event) {
          const file = event.target.files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              document.getElementById("bannerImagePreview").src =
                e.target.result;
            };
            reader.readAsDataURL(file);
          }
        });
    </script>
  </body>
</html>
