<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Left Side UI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/profile_edit.css}" />

    <link rel="stylesheet" href="/src/main/resources/static/css/profile_edit.css">
  </head>
  <body>
    <div class="sidebar" th:if="${user != null}">
     <a href="/profile"> <button class="back-btn"><i class="fas fa-arrow-left"></i> Back</button></a>
      <div class="profile">
        <img th:if="${user.userAvatar != null}" th:src="'data:image/jpeg;base64,' + ${user.userAvatarBase64}"
          alt="Profile Image" class="profile-img" />
        <img th:unless="${user.userAvatar != null}" th:src="@{/img/profile.png}" alt="Profile Image!" class="profile-img"/>

        <h2 class="profile-name" th:if="${user.fullName}" th:text="${user.fullName}">Full Name</h2>
      </div>
      <nav class="nav-menu">
        <ul>
          <li>
            <a href="#"><i class="fas fa-user"></i> My account</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-bell"></i> Notifications</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-credit-card"></i> Payment</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-lock"></i> Security & Privacy</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-question-circle"></i> Help</a>
          </li>
          <li>
            <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
